@import "../assets//sass/variables.scss";
.prueba {
  display: flex;
  align-items: center;
  padding: 30px;
  background-color: rgb(139, 197, 197);
  border-radius: 20px;
  margin-bottom: 20px;
  .imagen {
    width: $widthImage;
    height: $heightImage;
    float: left;
  }

  .contenedor {
    flex: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .testimonio {
      font-size: $fontSize;
      font-style: $testimonioText;
    }

    .cargoTestimonio {
      font-style: $font-style;

    }

    .textoTestimonio {
        font-size: 20px;
    }
  }
}
.title{
    text-align: center;
    font-size: $fontSize;
}
